.navbar {
  top: 0;
  padding: 20px;
  background-color: beige;
  display: grid;
}
.navbar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.navbar-menu {
  width: 100%;
}
.navbar-items {
  list-style: none;
  text-align: left;
  margin-top: 8px;
}
.navbar-item {
  display: inline-block;
  margin-left: 20px;
}
.navbar-login {
  text-align: right;
}
.login-button {
  white-space: nowrap;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid rgb(224, 217, 208);
  border-color: rgb(224, 217, 208);
  background-color: rgb(224, 217, 208);
}
